/*
  google font
*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap')

/*
  hooper
*/
.hooper
  cursor grab
  &:active
    cursor grabbing

/*
  icomoon
*/
@font-face {
  font-family: "icomoon";
  src:  url('fonts/icomoon.eot?r2l9yz');
  src:  url('fonts/icomoon.eot?r2l9yz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r2l9yz') format('truetype'),
    url('fonts/icomoon.woff?r2l9yz') format('woff'),
    url('fonts/icomoon.svg?r2l9yz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-snow:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e904";
}
.icon-down:before {
  content: "\e905";
}
.icon-up:before {
  content: "\e906";
}
.icon-config:before {
  content: "\e901";
}
.icon-pen:before {
  content: "\e907";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e986";
}
.icon-clip:before {
  content: "\e9cd";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-github:before {
  content: "\eab0";
}
.icon-edge:before {
  content: "\eadc";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-bookmark-o:before {
  content: "\f097";
}
.icon-double-left:before {
  content: "\f100";
}
.icon-double-right:before {
  content: "\f101";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-right:before {
  content: "\f105";
}
.icon-star-h:before {
  content: "\f123";
}
.icon-mail:before {
  content: "\f1d8";
}
.icon-safari:before {
  content: "\f267";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-firefox:before {
  content: "\f269";
}
.icon-opera:before {
  content: "\f26a";
}
.icon-internet-explorer:before {
  content: "\f26b";
}
.icon-zoom-in:before {
  content: "\e902";
}
.icon-zoom-out:before {
  content: "\e908";
}
