//images path ($imgPath + 'xxx.png')
$imgPath = '../img/'

//color
$white = #fffdf9
$black = #585858
$blue01 = #beebe9
$blue02 = #8ac6d1
$red = #ffe3ed
$gray = #f1f1f1

//z-index
$indexLevel1 = 10
$indexLevel2 = 100
$indexLevel3 = 1000
$indexLevel4 = 10000
$indexLevel5 = 100000
$indexLevel6 = 1000000